/*Styling sheet for everything contained within my HTML body*/

body {
    font-family: sans-serif;
    font-size: 120%;
    color: black;
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #74666b;
}


/*Sets background color with color codes and ad 20px padding*/

.content {
    padding: 20px;
    background-color: #90D8F4;
    background-image: url(/images/1\ -\ Copy1.jpg);
    background-repeat: no-repeat;
}

@media screen and (max-width: 600px) {
    .content {
        padding: 10px
    }
}


/*Sets the type of display for my elements,dictates the direction of display and adddresses the x-and y-axis overflow*/

.main {
    display: flex;
    flex-direction: row;
    overflow: unset;
}


/*An Id selector for a single element-my profile photo within my HTML header tag*/

#profilePicture {
    width: 25%;
    height: 25%;
    border-radius: 50%;
    border: 8px solid;
    border-color: #74666b;
    /*Sets a border around my profile photo within the header element*/
}

#profileMedium {
    width: 25%;
    height: 25%;
    border-radius: 50%;
    border: 6px solid #74666b;
}

#profileSmall {
    width: 25%;
    height: 25%;
    border-radius: 50%;
    border: 6px solid #74666b;
}


/*Text alignment of text within my header element selector*/

header {
    text-align: center;
    justify-content: center;
}


/*ID selector for header, adjusting text and background color, font type and size*/

.heading {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 140%;
    background-image: linear-gradient(to left bottom, #51454c, #63555b, #74666b, #87787b, #998a8c);
    color: black;
    padding-top: 10px;
}

@media screen and (max-width:650px) {
    #profileSmall {
        border-radius: 50%;
        border: 6px solid #74666b;
    }
}

@media screen and (max-width:1400px) {
    #profileMedium {
        border-radius: 50%;
        border: 6px solid #74666b;
    }
}


/*Font size increase for header 2 elements and color orangered*/

h2 {
    font-size: 160%;
    color: orangered;
}


/*Smaller header 3 font size increase and color set to dark grey*/

h3 {
    font-size: 130%;
    color: #0B132B;
}

.allMySkills {
    text-align: left;
    padding-left: 1%;
}


/* Color and alignment changes to footer element*/

footer {
    background-color: #83C5BE;
    background-image: url(/images/pexels-fwstudio-139312.jpg);
    text-align: center;
    justify-content: center;
    color: orangered;
    /*Text color is orangered*/
}


/*Sidebar single class selector*/

.sidebar {
    width: 20%;
    background-color: #74666b;
    padding: 2rem;
}


/*Styling changes to all class selectors within the navigation menu*/

.navMenu {
    list-style-type: none;
    padding: 5%;
}

.icons {
    font-size: 60px;
}

.fa-google {
    color: red;
    padding-right: 2%;
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.fa-whatsapp {
    color: green;
    padding-right: 2%;
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.fa-telegram {
    color: blue;
    padding-right: 2%;
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.icons :hover {
    cursor: pointer;
    color: darkslategrey;
    transform: scale(150%);
}