    /*Styling sheet for everything contained within my HTML body*/
    /*Sets background color with color codes and ad 20px padding*/
    
    .content {
        padding: 20px;
        background-image: linear-gradient(to right top, #c0a8bc, #c9b4c5, #d1c0cf, #daccd9, #e3d8e2);
    }
    
    @media screen and (max-width: 600px) {
        .content {
            padding: 10px
        }
    }
    /*Sets the type of display for my elements,dictates the direction of display and adddresses the x-and y-axis overflow*/
    /*
.main {
    display: flex;
    flex-direction: row;
    overflow: unset;
}
*/
    /*An Id selector for a single element-my profile photo within my HTML header tag*/
    
    #profilePicture {
        width: 288px;
        height: 288px;
        border-radius: 50%;
        border: 6px solid;
        border-color: #74666b;
        /*Sets a border around my profile photo within the header element*/
    }
    
    #profileMedium {
        width: 25%;
        height: 25%;
        border-radius: 50%;
        border: 6px solid #74666b;
    }
    
    #profileSmall {
        width: 25%;
        height: 25%;
        border-radius: 50%;
        border: 6px solid #74666b;
    }
    /*Text alignment of text within my header element selector*/
    
    header {
        text-align: center;
        justify-content: center;
    }
    /*ID selector for header, adjusting text and background color, font type and size*/
    
    .heading {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 140%;
        background-image: linear-gradient(to left bottom, #51454c, #63555b, #74666b, #87787b, #998a8c);
        color: black;
        padding-top: 10px;
    }
    
    @media screen and (max-width:650px) {
        #profileSmall {
            border-radius: 50%;
            border: 6px solid #74666b;
        }
    }
    
    @media screen and (max-width:1400px) {
        #profileMedium {
            border-radius: 50%;
            border: 6px solid #74666b;
        }
    }
    /*Font size increase for header 2 elements and color orangered*/
    
    h2 {
        font-size: 160%;
        color: #DC2F02;
        padding-top: 2%;
        padding-bottom: 2%;
    }
    /*Smaller header 3 font size increase and color set to dark grey*/
    
    h3 {
        font-size: 130%;
        color: black;
    }
    
    .allMySkills {
        text-align: left;
        padding-left: 2%;
    }
    /* Color and alignment changes to footer element*/
    
    footer {
        /* background-color: background-color: #83C5BE;
        */
        background-image: url(/images/pexels-fwstudio-139312.jpg);
        text-align: center;
        justify-content: center;
        color: orangered;
        /*Text color is orangered*/
        display: inline-block;
        padding-top: 2%;
    }
    /*Sidebar single class selector*/
    
    .sidebar {
        background-color: #74666b;
        padding: 2rem;
        height: 135%;
    }
    /*Styling changes to all class selectors within the navigation menu*/
    
    .navMenu {
        list-style-type: none;
        padding-left: 3%;
    }
    
    .menu {
        color: black;
        padding-left: 3%;
    }
    
    a {
        color: darkblue;
    }
    
    .icons {
        font-size: 60px;
    }
    
    .fa-google {
        color: red;
        padding-right: 2%;
        padding-left: 2%;
        padding-top: 2%;
        padding-bottom: 2%;
    }
    
    .fa-whatsapp {
        color: green;
        padding-right: 2%;
        padding-left: 2%;
        padding-top: 2%;
        padding-bottom: 2%;
    }
    
    .fa-telegram {
        color: blue;
        padding-right: 2%;
        padding-left: 2%;
        padding-top: 2%;
        padding-bottom: 2%;
    }
    
    .icons :hover {
        cursor: pointer;
        color: darkslategrey;
        transform: scale(150%);
    }
    
    body {
        font-family: sans-serif;
        font-size: 120%;
        color: black;
        margin: 0%;
        /*
        background-image: url(/images/1\ -\ Copy1.jpg);
        opacity: 0.7;
        */
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-columns: 20% 40% 40%;
        grid-template-rows: auto;
        grid-template-areas: "header header header" "sidebar ed ex" "sidebar sk carou" "footer footer footer";
        column-gap: 10px;
        /*row-gap: 15px;*/
    }
    
    #header {
        grid-area: header;
    }
    
    #sidebar {
        grid-area: sidebar;
    }
    
    #a {
        grid-area: ed;
    }
    
    #b {
        grid-area: ex;
    }
    
    #c {
        grid-area: sk;
    }
    
    #d {
        grid-area: carou;
    }
    
    #footer {
        grid-area: footer;
    }